@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('../../image/bg-image.jpg');
        background-repeat: no-repeat;
        background-position: center; /* Center the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-attachment: fixed;
    }
</style>

<br>
<br>

<h1>Oops, Wrong page!!</h1>

<br>
<br>

<p>You are not supposed to be here...</p>