@{ ViewData["Title"] = "Privacy Policy"; }
<h1>@ViewData["Title"]</h1>


<style>
    body {
        background-image: url('../../image/bg-image.jpg');
        background-repeat: no-repeat;
        background-position: center; /* Center the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-attachment: fixed;
    }
</style>

<br>
<br>
<br>

<p>This page belongs to the kaninians...</p>
<br>

<ul>
    <li>Satyajeet Salunkhe</li>
    

</ul>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
