@model CakeClientTeam2.ProjModel.Customer

@{ ViewData["Title"] = "Edit Profile"; }

<style>
    body {
        background-image: url('../../image/bg-image.jpg');
        background-repeat: no-repeat;
        background-position: center; /* Center the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-attachment: fixed;
    }
</style>

<h1>Change your account details</h1>

<hr />
<br>

<div class="row">
    <div class="col-md-4">

        <form asp-action="ManageProf">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <input asp-for="Id" class="form-control" hidden />

            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required maxlength="49" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly="readonly" maxlength="100" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label">Contact number</label>
                <input asp-for="Phone" class="form-control" readonly="readonly" maxlength="14" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" required maxlength="200" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">

                <input asp-for="Vendor" class="form-control" hidden />

            </div>

            <div class="form-group">
                @*<label asp-for="Password" class="control-label"></label>*@
                <input asp-for="Password" class="form-control" required minlength="6" hidden />
                @*<span asp-validation-for="Password" class="text-danger"></span>*@
            </div>

            <br>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>

    </div>
</div>

<br>
<br>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
