@model CakeClientTeam2.ProjModel.Cart

@{ ViewData["Title"] = "Remove from Cart"; }


<style>
    body {
        background-image: url('../../image/bg-image.jpg');
        background-repeat: no-repeat;
        background-position: center; /* Center the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-attachment: fixed;
    }
</style>

<h1>Remove cart confirmation...</h1>
<br>
<br>
<br>

<h3>Are you sure you want to delete this item from cart?</h3>
<div>

    <hr />

    <form asp-controller="Cart" asp-action="RemoveFromCartNow">
        <input asp-for="CartId" value="@Model.CartId" type="number" hidden>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
